<!--Gallery-->

<section class="container">
    <div class="row mb-3">
        <div class="col-sm-3"><img class="img-fluid d-block" src="../../../assets/images/gallery_img1.png"></div>
        <div class="col-sm-3"><img class="img-fluid d-block"src="../../../assets/images/gallery_img2.png"></div>
        <div class="col-sm-3"><img class="img-fluid d-block"src="../../../assets/images/gallery_img3.png"></div>
        <div class="col-sm-3"><img class="img-fluid d-block"src="../../../assets/images/gallery_img4.png"></div>
     </div>
     <div class="row mt-3">
        <div class="col-sm-3" ><img class="img-fluid d-block"src="../../../assets/images/gallery_img5.png"></div>
        <div class="col-sm-3"><img class="img-fluid d-block"src="../../../assets/images/gallery_img6.png"></div>
        <div class="col-sm-3"><img class="img-fluid d-block"src="../../../assets/images/gallery_img7.png"></div>
        <div class="col-sm-3"><img class="img-fluid d-block"src="../../../assets/images/gallery_img8.png"></div>
     </div>




</section>



<div class="gallery">
<div class="gallery_imgage">
    <img src="../../../assets/Megha.jpg" alt="" class="im
    ">

</div>
    </div>