
<!--Contact Us-->

<section class="container m-10 p-5" id="contact" >
    <div class="row col-sm-12">
    <img class="col-sm-4 p-3" src="../../../assets/images/fdgdg.png" width="150px">
    <div class="col-sm-4 p-3 border border-top-0 border-bottom-0 border-right-0 address_phone">
        <h5>ADDRESS</h5>
        <p>Lorem Ipsum is simply dummy text of the printing</p>
    </div>
    <div class="col-sm-4 p-3 border-top-0 border-bottom-0 border-right-0 address_phone">
        <h5>PHONE & WEB</h5>
        <p>+91 2345677890 & info@kpinterior.com</p>
    </div>
    </div>
</section>
